.btn {
    color: white;
    background-color: #f6007a;
    margin-top: 30px;
    margin-right: 20px;
}

.container-fluid {
    background-color: #44233A;
}

h2, label {
    color: white;
    margin-bottom: 30px;
}

input {
    margin-bottom: 30px;
}

form {
    height: 100vh;
    margin: 20%;
    
}

.nav-main {
  padding-top: 60px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #44233A;
  text-align: center;
}

.nav-item {
  font-size: medium;
  color: white;
  font-weight: bold;
}