<div class="container-fluid header">
    <div class="logo text-center">
        <img src="assets/images/Asset3.svg" class="center-block" alt="logo" width="145" height="145">
        <img src="assets/images/Search.svg" class="search" alt="search" width="25" height="25">
        <img src="assets/images/AccountLogin.svg" class="user" alt="login" width="40" height="40">
        <p class="logo-title">project love deserved</p>
    </div>
<!--
    <div class="header-user pull-right">
        <img src="assets/images/Search.svg" alt="search" width="25" height="25">
        <img src="assets/images/AccountLogin.svg" alt="login" width="40" height="40">
    </div>
-->
    <div class="title-main text-center">
        <p class="header-title">hope</p>
    </div>  
</div>
