.title-main {
    background: url("/assets/images/BG_Image.svg") no-repeat top;
    height: 300px;
}
.logo p{
  text-transform: uppercase;
  color: #44233a;
  font-weight: bold;
  margin-top: 0;
}

.user {
    display: inline;
    position: fixed;
    top: 10px;
    right: 225px;
}
.search {
    display: inline;
    position: fixed;
    top: 18px;
    right: 165px;
}

p.header-title{
    padding: 9%;
    color: white;
    font-size: 157px;
    text-transform: uppercase;
    font-stretch: expanded;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}