<div class="footer">
  <div class="col-md-2"></div>
  <div class="col-md-2 footer-list">
      <a class="footer-item">Help</a>
      <a class="footer-item">FAQ's</a>
      <a class="footer-item">Privacy Policy</a>
      <a class="footer-item">Careers</a>
  </div>
  <div class="col-md-2 footer-list">
    <a class="footer-item">Blog</a>
    <a class="footer-item">Investors</a>
    <a class="footer-item">Contact Us</a>
  </div>
  <div class="col-md-4 footer-list-icon">
    <a class="footer-item-icon"><img src="assets/images/Pinterest.svg"></a>
    <a class="footer-item-icon"><img src="assets/images/Instgram.svg"></a>
    <a class="footer-item-icon"><img src="assets/images/FB.svg"></a>
    <a class="footer-item-icon"><img src="assets/images/Twitter.svg"></a>
    <a class="footer-item-icon"><img src="assets/images/Google.svg"></a>
  </div>
  <div class="col-md-2"></div>
</div>
