.footer {
  padding:20px;
  background: #99788F;
  overflow: hidden;
}

.footer-list {
  padding-right: 30px;
}

.footer-list-icon {
  text-align: right;
}

.footer-item {
  color: #FFFFFF;
  font-size: small;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.footer-item-icon {
  padding: 10px;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}