.header {
    background-color: #0d4c60;
}

.operator-header {
    margin: 0;
    padding: 20px 0px 20px 0px;
    color: white;
    border-bottom: 2px solid #fe3400;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
    background-color: #44233A;
}

.nav-cont {
    padding-top: 50px;
    margin-bottom: 50px;
}

.component-container {
    padding: 50px 8px 0 8px;
}