<app-header></app-header>
<div class="container-fluid main">
   <div class="header">
        <h1 class="operator-header text-center">Operator</h1>
    </div>

    <div class="component col-md-12">
        <app-operator-nav menuUrl="menuUrl"></app-operator-nav>
        <div class="pull-right items">
            <app-pending-tasks></app-pending-tasks>
            <app-service-management></app-service-management>
            <app-service-schedule></app-service-schedule>
            <app-client-management></app-client-management>
        </div>
    </div>
</div>

