<app-header></app-header>
<div class="container-fluid main">
   <div class="header">
        <h1 class="operator-header text-center">Operator</h1>
    </div>
    <div class="nav col-md-2 pull-left">
        <app-operator-nav menuUrl="menuUrl"></app-operator-nav>
    </div>
    <div class="component col-md-10 pull-right">
        <app-pending-tasks></app-pending-tasks>
        <app-service-management></app-service-management>
        <app-service-schedule></app-service-schedule>
        <app-client-management></app-client-management>
    </div>
</div>

