.success {
  font-weight: bold;
  font-size: 1000%;
  text-align: center;
  color: white;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
    background-color: #44233A;
}
