.success {
  font-weight: bold;
  font-size: 56px;
  color: white;
  padding: 20px 0 20px 0;
}

.basic-comment {
    color: white;
    font-size: 24px;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
    background-color: #44233A;
    padding-bottom: 50px;
}
