<div class="table-responsive"> 

 	<h2 class="text-center">Add Needs</h2>         
	<form>
  		<div class="form-group">
   		 <label for="clientName"></label>
    	<input type="input" class="form-control" id="clientName" 	aria-describedby="emailHelp" placeholder="Client's Name">
 		 </div>  

  		<div class="form-check form-check">
  		<label class="form-check-label">
    		<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> Pet
  		</label>
		</div>

		<div class="form-check form-check">
 		 <label class="form-check-label">
    	<input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"> Medications
  		</label>
		</div>

		<div class="form-check form-check">
 		 <label class="form-check-label">
   	 		<input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" > Grocery
  			</label>
    		<label class="form-check-label">
    		<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> Yard
  		</label>
		</div>

		<div class="form-check form-check">
 		 <label class="form-check-label">
    	<input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"> Handyman
 		 </label>
		</div>

		<div class="form-check form-check">
 		 <label class="form-check-label">
   		 <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" > Errands
 		 </label>
   		 <label class="form-check-label">
    	<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> Meal
 		 </label>
		</div>

		<div class="form-group">
 		 <label for="comment">Other</label>
 		 <textarea class="form-control" rows="5" id="comment"></textarea>
		</div>
		
   <button type="button" class="btn pull-right submit-button">Submit</button>


  	</form>

</div>
