<div class="operator-nav-main">
  <ul class="list-group">
    <app-operator-nav-item menuItem="Notifications" (click)="changeNav('notifications')"></app-operator-nav-item>
    <app-operator-nav-item menuItem="Pending Needs" (click)="changeNav('pendingTasks')"></app-operator-nav-item>
    <app-operator-nav-item menuItem="Add Needs" (click)="changeNav('serviceManagement')"></app-operator-nav-item>
    <app-operator-nav-item menuItem="Client" (click)="changeNav('clientManagement')"></app-operator-nav-item>
  </ul>
</div>
