<div class="table-responsive"> 
 <h2 class="text-center">Pending Needs</h2>         
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Client</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Service</th>
        <th>Volunteer</th>
        <th>Status</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Anna Pitt</td>
        <td>35 New York, USA</td>
        <td>(404) 237-8926</td>
        <td>Medication Pickup</td>
        <td>Tom Harrison</td>
        <td>Completed</td>
        <td id="details"><input type="radio" name="options" autocomplete="off"></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Anna Pitt</td>
        <td>35 New York, USA</td>
        <td>(404) 237-8926</td>
        <td>Medication Pickup</td>
        <td>Tom Harrison</td>
        <td>Completed</td>
        <td id="details"><input type="radio" name="options" autocomplete="off"></td>
      </tr>
    </tbody>
  </table>
  </div>