body, html {
  margin: 0;
  overflow: hidden;
  height:100%;
}

@media (min-width: 768px){
  #left {
    position: absolute;
    top: 51px;
    bottom: 0;
    left: 13px;
    width: 65%;
    overflow-y: scroll; 
  }
  
  #right {
    position: absolute;
    top: 51px;
    bottom: 0;
    right: 43px;
    overflow-y: scroll;
    width: 25%;
  }
}

#left {
  background-color: #FFFFFF;
  text-align: left;
  height:219px;
}

#right {
  height:300px;
  background-color: #99788F;
  color: #FFFFFF;
  text-align: left;
}
.form-group{
  width: 65%;
  border-color: red;
  position: absolute;
  top: 255px;
  bottom: 0px;
  right: 0px;
  left: 12px;
}

