
  <div class="col-sm-8" id="left">
      <p></p><p>Messages:</p><p>I need help with scheduling with cleaning out the pantry and changing a lightbulb. Also do you have someone who can clean out the gutters on my roof? Thanks so much!</p><p>Jane Smith</p><p>(404) 555-1212</p><p>janesmith@aol.com</p> <p></p><br><p>Messages:</p><p>Hey! it's Jane again. I forgot to tell you someone took my garbage can - if you have someone running to Home Depot can they pick one up and drop it off at my house?</p><p></p><p>Messages:</p><p>I need help with scheduling with cleaning out the pantry and changing a lightbulb. Also do you have someone who can clean out the gutters on my roof? Thanks so much!</p><p>Jane Smith</p><p>(404) 555-1212</p><p>janesmith@aol.com</p> <p></p><br><p>Messages:</p><p>Hey! it's Jane again. I forgot to tell you someone took my outdoor large garbage can - if you have someone running to Home Depot can they pick one up for me and drop it off at my house?</p>
  </div>   

  <div class="col-sm-4" id="right">
      <p>Jane Doe        Oct. 14</p><p>Hello, I would like to know more information about how to schedule.</p><p><br><br></p><p>John Smith        Oct.13</p><p>Hi! Hope your day is going well! I need help with my account page.</p><p><br><br></p><p>Mary Jane    Oct.12</p><p>Hello! I need a little help with scheduling at your earliest convenience.</p><br><br><p>Jane Doe        Oct. 14</p><p>Hello, I would like to know more information about how to schedule.</p><p><br><br></p><p>Jake Owens        Oct.13</p><p>Hi! Hope your day is going well! I need help with my account page.</p><p><br><br></p><p>Susan Finch    Oct.12</p><p>Hello! I need a little help with scheduling at your earliest convenience.</p>
  </div>

  <div class="form-group">
    <label for="exampleTextarea"></label>
    <textarea class="form-control" placeholder="Write a message or attach a file" id="exampleTextarea" rows="3"></textarea>
  </div>

