.client-form {
  background-color: white;
  padding-top: 15px;
  overflow: hidden;
  margin: 30px;
  padding-bottom: 30px;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 10px;
  padding: 0px 10px 0px 10px;

}

.payment-options {
    padding-top: 20px;
}

.pay-button {
    width: 100px;
    margin-right: 20px;
    background-color: #F6007A;
    color: white;
}

.nav-main {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #44233A;
  text-align: center;
}

.nav-item {
  font-size: medium;
  color: white;
  font-weight: bold;
}


.container-fluid {
    padding: 0 !important;
    background-color: #44233A;
}

.submit-button {
    margin-top: 30px;
    background-color: #F6007A;
    color: white;
    margin-right: 20px;
}